# General
.DS_Store
node_modules/
dist/
build/
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.venv314

# Testing & Coverage
.coverage
htmlcov/
.pytest_cache/
test.db

# IDEs
.vscode/
.idea/
