DATABASE_URL='postgresql://admin:contra123A@db.healthbytes.cl:25432/tienda'
JWT_SECRET='your-secret'
JWT_ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_MINUTES='43200'
STRIPE_SECRET_KEY='sk_test_xxx'
STRIPE_WEBHOOK_SECRET='whsec_xxx'
ENVIRONMENT='dev'